/*********************************BODY***************************************/
body {
  margin: 0;
  font-size: 20px;
}

/*********************************BODY***************************************/
/*********************************JUMBO**************************************/
.jumbo {
  background: url(bike.jpg) no-repeat center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  -webkit-box-shadow: 0px 5px 15px black;
          box-shadow: 0px 5px 15px black;
}

.jumbo1 {
  background: url(bike2.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 769px) {
  div.jumbo {
    display: none;
  }
  div.btmbox {
    background: rgba(3, 0, 155, 0.1);
  }
}

@media screen and (min-width: 769px) {
  div.jumbo1 {
    display: none;
  }
}

.jumboheader {
  cursor: default;
  color: white;
  text-align: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  height: 100vh;
  width: 100%;
  padding-top: 70vh;
  font-family: 'Poiret One', cursive;
  font-size: 5rem;
  font-weight: bolder;
  background: url(red.png) no-repeat center;
  background-size: 40%;
}

/*********************************JUMBO**************************************/
/*********************************IMG CONTAINER******************************/
.grid-container1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
}

.linkbox {
  display: -ms-grid;
  display: grid;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-gap: 10px;
  -ms-grid-columns: minmax(250px, 2fr) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
}

.container3 {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 25px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.6;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 100%;
  opacity: 0;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
  background-color: #ffffff;
}

.container3:hover .overlay {
  opacity: 0.8;
}

.text {
  color: #001b6d;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*********************************IMG CONTAINER******************************/
/*********************************FOOTER*************************************/
footer {
  position: static;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font-family: 'Poiret One', cursive;
  margin: 0;
  font-size: 3rem;
}

/* The company logo */
.footer-distributed .footer-left img {
  width: 30%;
}

.footer-distributed h3 span {
  color: #fbff00;
}

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #fbff00;
  text-decoration: none;
}

/* Footer Right */
.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */